<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <h1>Home page</h1>

    <h2>JOB OPENINGS</h2>

    {% for job in jobs %}

    <ul><a href="{% url 'account:view_job_with_pk' pk=job.pk %}">
        <li>{{job.title}}</li>
        <li>{{job.description}}</li>
        <li>{{job.location}}</li>
        <li><p>Posted on: {{job.date}}</li></p>
        <li>------------------------------------------------------------------</li></a>
      </ul>

    {% endfor %}
</head>
<body>
    
</body>
</html>