<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <h1>Home page</h1>

    {% if user.is_authenticated %}

    <h2>Welcome back {{user.username}}</h2>
    <li><a href="account/profile">Profile</a></li>

    {% else %}

    <li><a href="account/login">Login</a></li>

    {% for job in jobs %}

    <ul><a href="#">
        <li>{{job.title}}</li>
        <li>{{job.description}}</li>
        <li>-----</li></a>
      </ul>

    {% endfor %}
    {% endif %}
</head>
<body>
    
</body>
</html>