<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <h1>Login page</h1>

</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}

        <input type="text" name="company_id" placeholder="Enter Your company ID"><br>
        <input type="password" name="password" placeholder="Enter Your password"><br>
        <input type="submit">
        <li><a href="./register">Signup</a></li>
        <li><a href="#">Forgot password?</a></li>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>