<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <h1>SingUp page</h1>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}

        <input type="text" name="company_name" placeholder="Enter Your company name"><br>
        <input type="email" name="email" placeholder="Enter Your company email"><br>
        <input type="password" name="password" placeholder="Enter Your password"><br>
        <input type="password" name="password1" placeholder="Confirm password"><br>
        <input type="submit">
    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>